.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

.container .header-section,
.container .main-section,
.container .footer-section {
    background-color: #1F2937;
}

.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 150px;
}

.header-section {
    justify-content: space-between;
}
.header-links,
.main-section img {
    margin-right: 150px;
}
.header-links a.nav-link:link {
    text-decoration: none;
    margin: 1em;
}

.header-links a.nav-link:link, 
.main-section p,
.sign-up-section p,
.footer-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-section div {
    flex-basis: 400px;
    
}
.main-section .main-text {
    margin-left: 150px;
}
.main-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.main-section button {
    margin-bottom: 150px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: none;
    width: 80px;
    height: 25px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.random-info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.info-section .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.boxes div {
    flex-basis: 50px;
    margin: 1em;
}
.boxes img {
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #B8B7B6;
}
.quote-section .quote-text {
    font-size: 36px;
    font-family: Light Italic;
    color: #1F2937;
    margin: 1em 4em 0 4em;
}
.quote-section .quote-name {
    text-align: right;
    margin-right: 8em;
}

.sign-up-section {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: white;
    margin: 5% 20% 5% 20%;
    justify-content: space-evenly;
    align-items: center;
}
.sign-up-text {
    font-size: 18px;
    color:white;
}
.sign-up-subtext {
    color: #E5E7EB;
}
.sign-up-button {
    border: 2px solid white;
    border-radius: 8px;
    width: 80px;
    height: 25px;
}

.footer-section {
    text-align: center;
    padding: 1em 0 1em 0;
}